.main-content {
  margin-top: 200px; /* Aumentar el espacio para el header fijo */
  text-align: center;
  position: relative; /* Necesario para posicionar los botones del carrusel */
}




.main-image {
  width: 100%;
  max-width: 1200px; /* Tamaño máximo de la imagen */
  height: auto;
  border: 3px solid #000; /* Borde negro */
  border-radius: 10px; /* Bordes redondeados */
  margin: 20px auto; /* Espaciado alrededor de la imagen */
}



main {
  padding: 20px;
  text-align: center;
}

main h1 {
  color: #ff3130;
  margin-bottom: 20px;
}

/* Main */

blockquote {
  font-size: 18px;
  font-style: italic;
  margin: 20px auto;
  max-width: 600px;
  color: #000;
  border-left: 5px solid #ff3130;
  padding-left: 15px;
}

/* Terapias Section */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.card {
  background-color: #fff;
  color: #000;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card h3 {
  color: #ff3130;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}