/* General */
body {
    background-image: url('../../assets/img/intento2.png'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que se mantenga en su lugar al hacer scroll */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

/* Main Content */
main {
    padding: 20px;
    margin-top: 200px; /* Espacio para el header fijo */
    margin-bottom: 100px; /* Aumentar espacio entre el contenido y el footer */
}

/* Profile Section */
.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
    margin-left: 20px; /* Agregar margen izquierdo */
    margin-right: 20px; /* Agregar margen derecho */
}

.image-container {
    flex: 1 1 300px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #000; /* Borde negro */
}

.description {
    flex: 2 1 400px;
    background: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #FF3130; /* Borde rojo */
    height: 60%; /* Acortar la altura en un 20% */
    max-height: 60%; /* Asegurar que la altura máxima también se reduzca */
}

.description p {
    margin-bottom: 15px;
}

/* Portfolio Section */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
    flex-direction: row-reverse; /* Invertir el orden de los elementos */
    margin-left: 20px; /* Agregar margen izquierdo */
    margin-right: 20px; /* Agregar margen derecho */
}

.portfolio-image {
    flex: 1 1 300px;
    text-align: center;
}

.portfolio-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #000; /* Borde negro */
}

.portfolio-content {
    
    flex: 2 1 400px;
    background: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #FF3130; /* Borde rojo */
    height: 60%; /* Acortar la altura en un 20% */
    max-height: 60%; /* Asegurar que la altura máxima también se reduzca */
 

}
.portfolio-content h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 15px;
}

.portfolio-content p {
    margin-bottom: 15px;
}

